html {
  font-size: 25px;
  font-family: "Playfair Display", serif;
  /* переделать все на rem */
  /* font-family: */
}

body {
  text-align: center;
  margin: 0;
  padding: 0;
  background: #e6ddddce;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.background {
  background-image: url("./img/planet_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: white;
  box-shadow: inset 0 0 25px rgb(86, 96, 106);
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.42);
  padding: 45px 80px;
}

.languages {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#langENG,
#langRU {
  text-decoration: none;
  color: #d4c29d;
  text-shadow: rgb(224, 224, 220) 1px 0 10px;
  font-size: 10px;
  width: 35px;
  margin: 5px;
  font-family: "Playfair Display", serif;
  background: rgba(0, 0, 0, 0.8);
  box-shadow: inset 0 0 5px white;
  padding: 5px;
}

#langENG:hover,
#langRU:hover {
  transform: scale(1.2);
  transition-duration: 2s;
}

.logo {
  color: white;
  text-shadow: rgb(224, 224, 220) 1px 0 10px;
  font-size: 1.2rem;
  margin: 0;
}

.logo:hover {
  transform: scale(1.2);
  transition-duration: 2s;
}

.menu {
  display: flex;
  align-items: center;
}

.menu__link {
  color: white;
  text-shadow: rgb(224, 224, 220) 1px 0 10px;
  font-size: 0.88rem;
}
.menu__link:not(:last-child)::after {
  content: "";
  display: inline-block;
  width: 1.5px;
  height: 16px;
  margin: 0 50px;
  background-color: white;
}

.banner {
  position: relative;
  padding: 170px 0;
}

h1 {
  position: absolute;
  top: 80px;
  right: 0;
  left: 0;
  font-size: 45px;
  text-shadow: rgb(224, 224, 220) 1px 0 10px;
}

.gradient {
  background: linear-gradient(black, white, black);
  box-shadow: inset 0 0 25px rgb(86, 96, 106);
}
.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 100px 5px;
}

.project-item {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  margin: 50px;
  width: calc((100% - 200px * 2) / 2);
  background: black;
  box-shadow: 12px 29px 81px 0px rgba(0, 0, 0, 0.75);
}

.project-item:hover {
  transform: scale(1.2);
  transition-duration: 2s;
}

.project {
  height: 300px;
  position: relative;
}

.projectPiano {
  background: url(https://images.unsplash.com/photo-1560105358-02361fa27b2c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=489&q=80);
  background-size: 100% 100%;
}

.projectRestaurant {
  background: url(https://images.pexels.com/photos/3633990/pexels-photo-3633990.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-size: 100% 100%;
}

.projectWeather {
  background: url(https://images.pexels.com/photos/6552157/pexels-photo-6552157.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-size: 100% 100%;
}

.projectRelax {
  background: url(https://images.unsplash.com/photo-1512474331201-782fc6a4ee29?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=869&q=80);
  background-size: 100% 100%;
}

.projectCalculate {
  background: url(https://images.unsplash.com/photo-1653361860636-36f2fb89eab9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1031&q=80);
  background-size: 100% 100%;
}

.projectShowRoom {
  background: url(https://images.unsplash.com/photo-1525657540605-025d22ddf3dc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=380&q=80);
  background-size: 100% 100%;
}

.button {
  text-decoration: none;
  color: #d4c29d;
  text-shadow: rgb(224, 224, 220) 1px 0 10px;
  background: rgba(0, 0, 0, 0.8);
  font-size: 15px;
  width: 50%;
  position: absolute;
  top: 20%;
  left: 50%;
  box-shadow: inset 0 0 5px white;
  transform: translate(-50%, -50%);
  padding: 10px;
}

.project-par {
  font-size: 0.8rem;
  color: white;
  text-shadow: 1px 1px 2px #c0a97a;
  margin: 0;
}

.contacts {
  color: white;
  padding: 50px 0;
}

.contacts__slogan {
  margin: 0 auto 50px;
  text-shadow: rgb(224, 224, 220) 1px 0 10px;
}

.contacts-menu {
  display: flex;
  justify-content: center;
}

.icon {
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  color: #000;
  background-color: white;
  text-align: center;
}

.icon:not(:last-child) {
  margin-right: 150px;
}

.icon:hover {
  transform: scale(1.2);
  transition-duration: 2s;
}
