html {
    font-size: 25px;
    /* переделать все на rem */
}


body {
    /* font-family: */
    text-align: center;
    margin: 0;
    padding: 0;
    background: #e6ddddce;
  }
  
  a {
    text-decoration: none;
  }
  
  img {
    width: 100%;
  }

  .background {
    background-image: url("./img/planet_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
    color: white;
  }

  .header {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.42);
    padding: 45px 80px;
  }

  .logo {
    color: #FFFFFF;
    font-size: 1.2rem;
    margin: 0;
  }
  
  .logo:hover {
    color: #E5A434;
    transition: all 1s linear .2s;
  }
  .menu {
    display: flex;
    align-items: center;
  }

  .menu__link {
    color: #FFFFFF;
    font-size: 0.88rem;
  }
  .menu__link:not(:last-child)::after {
    content: "";
    display: inline-block;
    width: 1.5px;
    height: 16px;
    margin: 0 50px;
    background-color: #FFFFFF;
  }

  .menu__link:hover {
    color: #B3E151;
    transition: all 1s linear .2s;
  }

  .banner {
    padding: 170px 0;
  }

  .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .project-item {
    display: flex;
    flex-direction: column;
    padding: 2px;
    margin: 20px;
    width: calc((100% - 200px*2)/2);
    background: black;
  }

  .project {
    height: 300px;
    position: relative;
  }

/* need to add other  classes for projects to add background-image*/
  .projectPiano {
    background: url(https://images.unsplash.com/photo-1560105358-02361fa27b2c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=489&q=80);
    background-size: 100% 100%;
  }

  .projectRestaurant {
    background: url(https://images.pexels.com/photos/3633990/pexels-photo-3633990.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: 100% 100%;
  }

  .projectWeather {
    background: url(https://images.pexels.com/photos/6552157/pexels-photo-6552157.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: 100% 100%;
  }

  .projectRelax {
    background: url(https://images.unsplash.com/photo-1512474331201-782fc6a4ee29?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=869&q=80);
    background-size: 100% 100%;
  }

  .projectCalculate {
    background: url(https://images.unsplash.com/photo-1653361860636-36f2fb89eab9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1031&q=80);
    background-size: 100% 100%;
  }

  .projectShowRoom {
    background: url(https://images.unsplash.com/photo-1525657540605-025d22ddf3dc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=380&q=80);
    background-size: 100% 100%;
  }

  .button {
    text-decoration: none;
    color: #c0a97a;
    background: rgba(0, 0, 0, .8);
    font-size: 12px;
    width: 180px;
    /* height: 40px; */
    /* line-height: 40px; */
    position: absolute;
    top: 20%;
    left: 50%;
    border: 2px solid #c0a97a;
    transform: translate(-50%, -50%);
    padding: 10px;
 }

 /* .button:hover {
  add transform *2
} */


 .project-par {
    font-size: .8rem;
    color: white;
    text-shadow: 1px 1px 2px #c0a97a;
    margin: 0;

 }